@font-face {
  font-family: "IBMPlexMono-Thin"; /* Nombre de la fuente */
  src: url("../fonts/fonts/IBMPlexMono-Thin.ttf") format("truetype"); /* Ruta a tu archivo de fuente */
  /* Puedes incluir otros formatos de fuentes aquí para una mayor compatibilidad con diferentes navegadores */
}

@font-face {
  font-family: "Roboto"; /* Nombre de la fuente */
  src: url("../fonts/fonts/Roboto-Regular.ttf") format("truetype"); /* Ruta a tu archivo de fuente */
  /* Puedes incluir otros formatos de fuentes aquí para una mayor compatibilidad con diferentes navegadores */
}

:root {
  --color-primario: #106a39; /* Define el color primario */
  --color-secundario: #c5ed36; /* Define el color secundario */
  --color-fondoOscuro: #2b2b2b; /* Define el color */
  --color-blanco: #fff;
}

body,
html {
  font-family: "IBMPlexMono-Thin", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: var(--color-blanco);
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "IBMPlexMono-Thin", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: var(--color-blanco);
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: var(--color-primario);
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-primario);
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: var(--color-primario);
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: var(--color-fondoOscuro);
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: "IBMPlexMono-Thin", sans-serif;
  font-size: 24px;
  /* font-weight: 700; */
  color: #333;
  text-transform: uppercase;
  display: flex; /* Utiliza flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
#menu a.navbar-brand > img {
  width: 200px;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "IBMPlexMono-Thin", sans-serif;
  text-transform: uppercase;
  color: var(--color-blanco);
  font-size: 15px;
  font-weight: 600;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
  transition: 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover {
  color: var(
    --color-primario
  ); /* Cambiar el color del texto cuando se hace hover */
  font-size: 20px;
  font-weight: 700;
  transition: 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:after {
  color: #000000;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  /* background: linear-gradient(
    to right,
    var(--color-primario) 0%,
    var(--color-secundario) 100%
  ); gradiente de verdes en el sub del nav*/
  background: var(--color-primario);
  content: "";
  transition: width 0.2s;
  box-shadow: 1px 2px 10px var(--color-primario);
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: var(--color-primario) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: var(--color-primario);
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: var(--color-primario);
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: var(--color-primario);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
  box-shadow: 1px 2px 10px var(--color-primario);
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--color-primario);
  /* background-image: linear-gradient(to right, #106a39 0%, #6372ff 100%); */
  background-image: var(--color-primario);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #000000;
  background-image: none;
  background-color: var(--color-secundario);
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.5);
}
.intro h1 {
  font-family: "IBMPlexMono-Thin", sans-serif;
  color: #fff;
  /* font-size: 82px; */
  font-size: 5vw;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  animation: blurFadeIn 4s ease forwards;
  text-shadow: 0 0 10px #ffffff;
}

@keyframes blurFadeIn {
  0% {
    text-shadow: 0 0 40px rgba(255, 255, 255, 1);
    opacity: 0;
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    opacity: 0.5;
  }
  100% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    opacity: 1;
    text-shadow: 0 0 10px #ffffff;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px !important; /* Tamaño de fuente para dispositivos móviles */
  }
}
.intro h1 span {
  font-weight: 800;
  color: var(--color-primario);
}
.intro p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
  animation: blurFadeIn 4s ease forwards;
}
.intro .subTitle {
  text-transform: uppercase;
  font-family: "IBMPlexMono-Thin", sans-serif;
  font-size: 20px;
  text-shadow: 0 0 5px #ffffff;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  overflow-wrap: break-word;
  text-align: center;
}
@media screen and (max-width: 630px) {
  header .intro-text {
    inline-size: 412px;
    padding-top: 350px; /* Reducir el espacio superior para dar espacio al texto debajo */
    padding-bottom: 200px;
    overflow-wrap: break-word;
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Centrar el texto */
  }
}
/* Features Section */
#features {
  background: var(--color-primario);
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: var(--color-primario);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#features img {
  width: 350px;
  border-radius: 3%;
}
#features h3 {
  color: var(--color-blanco);
}
#features .imgBackgroundStatic {
  position: relative;
}

#features .imgBackgroundStatic::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  z-index: 0; /* Asegura que la superposición esté detrás del contenido de texto */
}

#features .container {
  position: relative; /* Asegura que el contenido de texto esté por encima de la superposición */
  z-index: 1; /* Coloca el contenido de texto por encima de la superposición */
}

#features .container h2,
#features .container h3,
#features .container p {
  position: relative; /* Asegura que los textos estén por encima de la superposición */
  z-index: 2; /* Coloca los textos por encima de la superposición */
}

#features .imgBackgroundStatic {
  background-image: url("../img/features/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#features .diagonal-separator {
  position: relative;
  z-index: 1; /* Asegura que el separator esté por encima de la superposición */
}
#features .list-style li {
  font-family: "Roboto", sans-serif;
  background-color: #106a39a9;
  margin: 2px;
  padding: 0 3px 0 3px;
  display: inline-block;
  border-radius: 3px;
}
#features .text-in-image {
  font-family: "Roboto", sans-serif;
  color: var(--color-primario);
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  border-radius: 6px;
}

#features .text-pos1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#features .text-pos2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#features .text-pos3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#features .text-pos4 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* InfoTabs Section */

#infoTabs {
  background: url(../img/background2.svg);
  padding: 100px 0;
  /* animation: moveBackground 40s linear infinite; animación */
}
#infoTabs h3 {
  color: var(--color-blanco);
  font-family: Roboto, sans-serif;
}
#infoTabs strong {
  color: var(--color-primario);
}
#infoTabs i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: var(--color-primario);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#infoTabs h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#infoTabs h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(
    to right,
    var(--color-primario) 0%,
    var(--color-primario) 100%
  );
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
  box-shadow: 1px 2px 10px var(--color-primario);
}
#infoTabs .info-tabs-tabs {
  font-family: "IBMPlexMono-Thin", sans-serif;
}
#infoTabs .info-tabs-content {
  font-family: "Roboto", sans-serif;
}
/* InfoFold Section */
#info-fold {
  background: url(../img/background2.svg);
  padding: 100px 0;
  /* animation: moveBackground 60s linear infinite alternate-reverse; animación */
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0; /* posición inicial */
  }
  100% {
    background-position: 100% 0; /* posición final */
  }
}
#info-fold h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#info-fold h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#info-fold h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(
    to right,
    var(--color-primario) 0%,
    var(--color-primario) 100%
  );
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
  box-shadow: 1px 2px 10px var(--color-primario);
}
#info-fold .info-fold-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#info-fold .info-fold-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: var(--color-secundario);
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#info-fold img {
  min-width: 550px;
  max-height: 380px;
  width: auto;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#info-fold p {
  line-height: 24px;
  margin: 30px 0;
}
#info-fold .panel-heading {
  background: var(--color-primario);
  color: var(--color-blanco);
}
#info-fold .panel-heading.active {
  background-color: var(--color-secundario);
  border-color: black;
  color: #333;
  font-weight: 800;
}
#info-fold .panel-title > a {
  font-weight: 600;
}
#info-fold a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-secundario);
}
/* About Section */
#about {
  background-color: var(--color-fondoOscuro);
  padding: 100px 0;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(
    to right,
    var(--color-primario) 0%,
    var(--color-primario) 100%
  );
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
  box-shadow: 1px 2px 10px var(--color-primario);
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: var(--color-secundario);
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  min-width: 550px;
  max-height: 380px;
  width: auto;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
}
/* Services Section */
#services {
  padding: 100px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: #fff;
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: #fff;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#services p {
  color: rgba(255, 255, 255, 0.75);
}
#services .service-desc {
  margin-bottom: 40px;
}
/* Portfolio Section */
#portfolio {
  padding: 100px 0;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
/* Testimonials Section */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Team Section */
#team {
  padding: 100px 0;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 100px 0 60px;
  background: linear-gradient(rgba(41, 39, 39, 0.849), rgba(0, 0, 0, 0.678)),
    url(../img/background-contact.jpg) center center no-repeat;
  /* background: var(--color-fondoOscuro); */
  color: rgba(255, 255, 255, 0.75);
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: var(--color-primario);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: var(--color-secundario);
  background: var(--color-primario);
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "IBMPlexMono-Thin", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item h3 {
  font-family: "IBMPlexMono-Thin", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
  color: var(--color-primario);
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}
/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 5px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}
.zoomable-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.zoomable-image:hover {
  transform: scale(2.2);
  transform-origin: center top;
}

.zoom-container {
  overflow: hidden;
  max-width: 620px; /* Ancho máximo de tu contenedor */
  max-height: 380px; /* Alto máximo de tu contenedor */
}

.zoom-container:hover .zoomable-image {
  transform-origin: center top; /* Establece el punto de transformación en el centro de la imagen */
}
.diagonal-separator {
  width: 100%;
  height: 80px; /* Ajusta este valor para cambiar la altura del separador */
  background: linear-gradient(
    to right bottom,
    rgba(0, 123, 255, 0) 49%,
    var(--color-fondoOscuro) 51%
  );
}
.diagonal-separator2 {
  width: 100%;
  height: 80px; /* Ajusta este valor para cambiar la altura del separador */
  background: linear-gradient(
    to right bottom,
    var(--color-fondoOscuro) 49%,
    rgba(0, 123, 255, 0) 51%
  );
}
.diagonal-separator3 {
  width: 100%;
  height: 80px; /* Ajusta este valor para cambiar la altura del separador */
  background: linear-gradient(
    to right bottom,
    var(--color-primario) 49%,
    var(--color-fondoOscuro) 51%
  );
}

.diagonal-separator4 {
  width: 100%;
  height: 100px; /* Ajusta este valor para cambiar la altura del separador */
  background: linear-gradient(
      to bottom right,
      var(--color-primario) 50%,
      transparent 51%
    ),
    linear-gradient(
      to bottom left,
      var(--color-secundario) 50%,
      transparent 51%
    ),
    radial-gradient(
      circle at top right,
      var(--color-primario) 20%,
      transparent 30%
    ),
    radial-gradient(
      circle at top left,
      var(--color-secundario) 20%,
      transparent 30%
    );
  background-size: 50% 50%, 50% 50%;
  background-repeat: no-repeat;
}

/* CSS */
.nav-link.active {
  font-weight: bold;
  color: blue; /* Puedes cambiar el color a tu preferencia */
  border-bottom: 2px solid blue; /* Puedes ajustar el estilo del borde inferior */
}
