@media screen and (max-width: 400px) {
  #about {
    width: 106%;
  }
  #infoTabs,
  #info-fold,
  #features,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 108%;
  }

  #portfolio {
    width: 110%;
  }
}
